* {
  font-family: sans-serif;
}

.nav-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 1em 1.5em;
  user-select: none;
}

#right-nav{
  margin-left: auto;
}

#left-nav{
  margin-top: 6px;
}

#sign-in-button{
  background-color: rgb(48, 111, 226);
  border-radius: 4px;
  color: white;
  padding: 5px;
  border-width: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 12.5px;
  padding: 0.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#google-logo{
  margin-top: 20vh;
}

#search-box{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  /* border: 10px #f2f2f2; */
}

#search-field{
  border-width: 1px;
  line-height: 20px;
}

#search-buttons{
  display:flex;
  justify-content: center;
  padding: 3px;
}

.search-buttons{
  padding: 0px 16px;
  width: 100%;
  font-size: 14px;
  line-height: 27px;
  border-radius: 4px;
  border-width: 0px;
  color: #5F6368;
  background-color: #f2f2f2;
}

span + span {
  margin-left: 20px;
}


input[type=text] {
  border-radius: 10px; 
  width: 60%;
}

input:hover{
  outline: none;
  box-shadow: none;
  background-color: none;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid #ddd;
}

footer a {
  display: inline-block;
  color: #5F6368;
}

@media (max-width: 600px) {
  footer {
      flex-direction: column-reverse;      
      align-items: center;
  }

}